/* Style général */
Body {
    Display : flex ;
    Justify-content : center ;
    Align-items : center ;
    Height : 100%;
    Margin : 0 ;
    padding: 0;
    Background : url(img/SEEG1.png) no-repeat center center scroll ;
    background-size: cover;
    Font-family : Arial, sans-serif ;
    overflow-y: auto;
}

@keyframes winEffect{
    0%{
        background-position: 50% 50%;
    }
    25%{
        background-position: 48% 52%;
    }
    50%{
        background-position: 52% 48%;
    }
    75%{
        background-position: 49% 51%;
    }
    100%{
        background-position: 50% 50%;
    }
}

/* Conteneur principal */
.container {
    min-height: 80vh;
    Background : rgba(255, 255, 255, 0.9) ;
    Padding : 20px ;
    Border-radius : 10px ;
    Box-shadow : 0 4px 8px rgba(0, 0, 0, 0.2) ;
    Text-align : center ;
    Max-width : 600px ;
    Width : 50% ;
    position: relative;
}

/* Titre */
H1, h3, h4, h5{
    Margin-bottom : 15px ;
    color: green;
}

/* Rotation continue du logo */
.logo img {
    display: block;
    margin: 20px auto;
    width: 300px;
    max-width: 100px;
    height: auto;
    Animation : rotation 5s linear infinite ;
    background-color: white;
    border-radius: 50px;
}

@keyframes rotation {
    From {
        Transform : rotate(0deg) ;
    }
    To {
        Transform : rotate(360deg) ;
    }
}

/* Formulaire */
Form {
    Text-align : left ;
}

/* Champs uniformes */
Input, select, textarea {
    Width : 100% ;
    Padding : 10px ;
    Margin : 10px 0 ;
    Border : 1px solid #ccc ;
    Border-radius : 5px ;
    Font-size : 16px ;
}

/* Bouton */
button {
    width: 50%;
    padding: 12px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: center;
    transition: all 0.3s ease; /* Ajout d'une transition fluide */
}

button:hover {
    background: #06783c; /* Changement de couleur de fond au survol */
    transform: scale(1.05); /* Agrandissement du bouton */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre autour du bouton */
}

button:active {
    transform: scale(1); /* Réduit la taille quand on clique pour simuler un effet de pression */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre plus petite quand on clique */
}

/* Footer fixe */
Footer {
    Text-align : center ;
    Padding : 10px ;
    Background : rgba(0, 0, 0, 0.8) ;
    Color : white ;
    Position : fixed ;
    Width : 100% ;
    Bottom : 0 ;
}